---
import MainLayout from "../../layouts/MainLayout.astro";
---

<header class="bg-zinc-900 flex flex-col md:flex-row items-center justify-around p-20 rounded">
    <div class="space-y-4">
        <h1 class="text-5xl font-bold">Protect Your Project</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, tempore?</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded">Start Now</button>
    </div>
    <img class="w-80" src="images/fingerprint.svg" alt="img">
</header>