---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
    <h1 class="text-2xl">About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores nemo earum reprehenderit ratione veniam qui quam, quo maxime fugit labore cupiditate deleniti odio architecto vel necessitatibus, totam minus aliquid omnis eos maiores a ea. Inventore vel amet ducimus dolores consectetur earum nostrum corporis libero provident! Libero atque, numquam id cumque ipsum maiores possimus ullam, ex impedit itaque illo non fugiat magni veritatis? Praesentium ad ut architecto nulla quis! Eaque ut facilis nesciunt vero quod. Dolorum iure eaque numquam, corporis sit explicabo, ipsum placeat non harum tempora similique nesciunt cumque distinctio iste accusamus, repudiandae obcaecati voluptates autem at! Minus, excepturi hic.</p>
</MainLayout>